# Node
node_modules/
**/node_modules/

# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db